@import url("https://fonts.googleapis.com/css?family=IBM Plex Sans Condensed|Roboto");

body, html {
    height: 100%;
    background-color: #000;
    color: #adadad;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
}

.term {
    font-family: monospace;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
    padding-left: 20px;
}

.term .root {
    color: red;
}

.term:after {
    content: "_";
    opacity: 1;
    animation: cursor 1s infinite;
    color: #ffffff;
}

@keyframes cursor {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.error-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-family: monospace;
    z-index: 9999;
}

.start-button {
    font-family: 'Roboto', sans-serif;
    background-color: #ff0000;
    color: #ffffff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.start-button:hover {
    transform: translateY(-5px);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
